<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <title>Writing Practice Hub</title>
  <link rel="stylesheet" href="../public/home.css">
  <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" 
    integrity="sha512-HWW3kZHFQmQ8Z8M4/..."
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" 
   />
</head>
<body class="writing-body">
    <div class="logout-container">
        <button class="logout-btn"> <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </div>

  <!-- HERO -->
  <section class="home-hero">
    <img src="../public/images/temple.svg" class="hero-temple-icon" alt="temple icon">
    <h1>Japanese Writing Hub</h1>
    <p>
      Practice Hiragana, Katakana, and Kanji stroke orders.
    </p>
  </section>

  <!-- MAIN GRID -->
  <section class="cards-container">

    <!-- HIRAGANA -->
    <div class="learn-card">
      <h2 class="jp">ひらがな</h2>
      <h3>Hiragana Writing</h3>
      <p class="desc">Write and master all 46 hiragana characters.</p>

      <div class="card-buttons">
        <button class="study-btn">✏️ Start Writing </button>
      </div>

      <p class="char-count">46 characters</p>
    </div>

    <!-- KATAKANA -->
    <div class="learn-card">
      <h2 class="jp">カタカナ</h2>
      <h3>Katakana Writing</h3>
      <p class="desc">Learn the stroke order for all katakana characters.</p>

      <div class="card-buttons">
        <button class="study-btn">✏️ Start Writing</button>
      </div>

      <p class="char-count">46 characters</p>
    </div>

    <!-- KANJI BEGINNER -->
    <div class="learn-card">
      <h2 class="jp">日</h2>
      <h3>Kanji Writing (N5)</h3>
      <p class="desc">Learn the correct stroke order for basic kanji.</p>

      <div class="card-buttons">
        <button class="study-btn">✏️ Start Writing</button>
      </div>

      <p class="char-count">100 kanji</p>
    </div>



  </section>

</body>
</html>
