<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LangLearn</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    <header id="header">
        <div>
            Logo
        </div>
        
        <ul id="nav">
            <li><a href="#" >Home</a></li>
            <li><a href="#" >Features</a></li>
            <li><a href="#" >Pricing</a></li>
            <li><a href="#" >FAQs</a></li>
            <li><a href="#" >About</a></li>
        </ul>

        <div id="login">
            <a >Login</a>
        </div>
    </header>

    <main>
        <img src="../public/images/_Explore the Beauty of Japanese Graphic Design Trends_.jpeg" alt="main art">
    </main>
</body>
</html>