<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LangLearn</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header id="header">
        <div id="logo">
            ⛩
        </div>
        
        <ul id="nav">
            <li id="home"><a href="#" >Home</a></li>
            <li><a href="#" >Features</a></li>
            <li><a href="#" >Pricing</a></li>
            <li><a href="#" >FAQs</a></li>
            <li><a href="#" >About</a></li>
        </ul>

        <div id="login">
            <a href="/login">Login</a>
        </div>
    </header>

    <div id="mainDesign">
        <div id="introCircle"></div>
        <img id="gridDistorted" src="../images/IMG_1345.PNG" alt="distorted grid">
        <p id="japaneseTitle">日本語</p>
        <p id="japaneseTitle2">Learn Japanese</p>
        <img id="temple" src="../images/simple-buddhist-temple-silhouette-in-black-style-vector.png" alt="temple">
        <div id="mainText">
            <p>Want to improve your Japanese writing abilities with writing excersices? <br> Join today and you also can practise your Kanji writing abilities with us.</p>
            <a>Join Now →</a>
        </div>
    </div>
</body>
</html>