:root{
    --dark-blue:#253054;
    --light-yellow: #F4E39A;
    --bright-red:#ff0000dd;
    --red: #b41c1c;
    --dark-red: #941515;
    --blue:#93b2ff;
    --mustard-yellow: #E7A72C;
    --light-warm-gray: #e5e5e5;
    --dark-cold-gray: #333337;
}