:root{
    --dark-blue:#253054;
    --light-yellow: #F4E39A;
    --bright-red:#ff0000dd;
    --red: #b41c1c;
    --dark-red: #941515;
    --blue:#93b2ff;
    --mustard-yellow: #E7A72C;
    --light-warm-gray: #e5e5e5;
    --dark-cold-gray: #333337;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--dark-cold-gray);
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin: 20px 10px;
    color: var(--light-warm-gray);
}

a{
    text-decoration: none;
    font-size: 18px;
    color: var(--light-warm-gray);
}

li a:hover{
    color: var(--bright-red);
    cursor: pointer;
    text-decoration: underline;
}

#logo{
    border-radius: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#logo:hover{
    color: var(--blue);
    cursor: pointer;
}

#nav{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

#home a{
    font-weight: bolder;
    color: var(--blue);
}

#login {
    background-color: var(--red);
    padding: 10px 15px;
    border-radius: 20px;
}

#login a{
    color: white;
}

#login:hover {
    background-color: var(--dark-red);
    cursor: pointer;
}

#mainDesign{
    width: 100%;
    height: 900px;
    position: relative;
    margin-top: 50px;
}

#introCircle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-75%);
    background-color: var(--red);
    width: 800px;
    height: 800px;
    border-radius: 50%;
    z-index: 2;
}

#gridDistorted{
    position: absolute;
    top: 0;
    left: 27%;
    transform: translateX(-75%);
    width: 550px;    
    height: 650px;        
    z-index: -2;
}

#japaneseTitle{
    color: var(--light-warm-gray);
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    text-wrap: wrap;
    width: 10%;
    top: 0;
    left: 50%;
    transform: translate(-320%, -25%);
    z-index: 4;
    line-height: 120px;
    text-shadow: 5px 3px var(--dark-blue);
}

#japaneseTitle2{
    color: var(--light-warm-gray);
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    text-wrap: wrap;
    top: 10%;
    left: 60%;
    transform: translate(-300%, -10%);
    z-index: 4;
    text-shadow: 5px 3px var(--dark-blue);
}

#temple{
    position: absolute;
    top: 10%;
    right: 31%;
    width: 630px;
    z-index: 5;
}

#mainText{
    position: absolute;
    bottom: 50%;
    right: 60px;
}

#mainText > p{
    width: 400px;
    font-size: 30px;
    text-wrap: wrap;
    word-spacing: 10px;
    color: var(--light-warm-gray);
}

#mainText > a{
    float: right;
    margin-right: 30px;
    color: var(--blue);
    font-weight: bolder;
    font-size: 19px;
}

#mainText > a:hover{
    text-shadow: 5px 3px rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}