:root{
    --dark-blue:#253054;
    --light-yellow: #F4E39A;
    --bright-red: #ff0000;
    --red: #cc2727;
    --dark-red: #941515;
    --blue:#334B89;
    --mustard-yellow: #E7A72C;
    --light-warm-gray: #FDEECD;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--light-warm-gray);
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin: 20px 10px;
    color: var(--dark-blue);
}

a{
    text-decoration: none;
    font-size: 18px;
    color: var(--dark-blue);
}

li a:hover{
    color: var(--mustard-yellow);
    cursor: pointer;
    text-decoration: underline;
}

#logo{
    border-radius: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

#logo:hover{
    color: var(--mustard-yellow);
    cursor: pointer;
}

#nav{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}

#home a{
    font-weight: bolder;
    color: var(--blue);
}

#login {
    background-color: var(--dark-blue);
    padding: 10px 15px;
    border-radius: 20px;
}

#login a{
    color: white;
}

#login:hover {
    background-color: var(--blue);
    cursor: pointer;
}

#mainDesign{
    width: 100%;
    height: 900px;
    position: relative;
    margin-top: 50px;
}

#introCircle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bright-red);
    width: 800px;
    height: 800px;
    border-radius: 50%;
    z-index: 2;
}

#introCircleShadow{
    position: absolute;
    top: 0;
    left: 27.5%;
    background-color: var(--dark-blue);
    width: 800px;
    height: 800px;
    z-index: -2;
    border-radius: 50%;
}

#gridDistorted{
    position: absolute;
    top: 0;
    left: 27%;
    transform: translateX(-50%);
    width: 690px;    
    height: 700px;        
    z-index: -1;
}


#koiFish {
    position: absolute;
    top: 120px;
    left: 52%;
    transform: translate(-150%, -30%) scaleX(-1) rotate(-20deg);
    z-index: 3;
    width: 350px;
    opacity: 95%;
}

#koiFish2 {
    position: absolute;
    top: 120px;
    left: 52%;
    transform: translate(30%, 70%) scaleY(-1) rotate(-15deg);
    z-index: 3;
    width: 350px;
    opacity: 95%;
}

#japaneseTitle{
    font-size: 240px;
    font-weight: bold;
    position: absolute;
    text-wrap: wrap;
    width: 15%;
    top: 0;
    left: 50%;
    transform: translate(-45%, -30%);
    z-index: 4;
    text-shadow: 5px 3px var(--light-yellow);
}

#mainText{
    position: absolute;
    bottom: 20%;
    right: 10px;
}

#mainText > p{
    width: 400px;
    font-size: 20px;
    text-wrap: wrap;
    word-spacing: 10px;
}

#mainText > a{
    float: right;
    margin-right: 30px;
    color: var(--dark-red);
    font-weight: bolder;
    font-size: 19px;
}

#mainText > a:hover{
    text-shadow: 5px 3px rgb(174, 174, 174);
    color: var(--blue);
    cursor: pointer;
}