{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/draw.css"/>
{% endblock %}

{% block content %}
    <div class="d-md-flex flex-md-equal w-100 position-relative" style="min-height: 95vh;">
        <div class="w-50 text-bg-dark pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden flex-grow-1">
        <a href="{{ url_for('customer.courses') }}" class="btn btn-danger text-white" style="width: 100px; position: absolute; top: 10px; left: 10px;">← Back</a>
            <div class="my-3 py-3"><h2 class="display-5">Character</h2>
                <p class="lead">This character was randomly selected based on your progress on this course.</p></div>
            <div class="bg-body-tertiary shadow-sm mx-auto"
                 style="width: 80%; border-radius: 21px;">
                <img src="{{ url_for('static', filename='img/hiragana.svg') }}" alt="Character" />
            </div>
        </div>
        <div class="w-50 bg-body-tertiary py-3 px-3 py-md-5 px-md-5 text-center overflow-hidden flex-grow-1">
            <div class="my-3 p-3"><h2 class="display-5">Your Turn</h2>
                <p class="lead">Now draw this character correctly to progress.</p></div>
            <canvas id="drawCanvas" width="500" height="300"></canvas>
            <div class="btn-row">
                <button id="clearBtn" class="btn btn-clear">Clear</button>
                <button id="undoBtn" class="btn btn-undo" disabled>Undo</button>
                <button id="submitBtn" class="btn btn-submit">Submit</button>
            </div>
            <div id="resultBox" class="prediction-box" style="display: none">
                <p><strong>Prediction:</strong> <span id="predictedKanji">...</span></p>
                <p><strong>Confidence:</strong> <span id="confidence">...</span></p>
                <p id="debugInfo" class="debug-info"></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/draw.js"></script>
{% endblock %}